# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
lib-cov
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# TypeScript
typings/
*.tsbuildinfo

# npm
.npm
*.tgz
.yarn-integrity

# eslint cache
.eslintcache

# Local env files
.env
.env.local
.env.test
.env.*.local

# Next.js
.next
.nuxt
dist

# Misc
.DS_Store
.vscode
.idea
*.pem

# Vercel
.vercel

# Cache
.cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.fusebox/

# Node REPL
.node_repl_history
